
div.recaptcha-setting-con {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;

    width: 400px;


}

div.recaptcha-setting-con p {
    margin-right: 10px;
}

div.recaptcha-setting-con > div {
    border: 1px solid rgb(128, 235, 40);
    
}

div.recaptcha-setting-con > div > div{
    padding: 10px 20px;
    border: 1px solid red;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

div.recaptcha-setting-con button, h2 {
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 5px;
}
