@import url(shared/country-common.css);

.cfefp-intl-container {
	--cfefp-intl-tel-button-height: 100%;
}

.elementor-field-group .cfefp-intl-container.iti {
	width: 100%;
}

.elementor-field-group .cfefp-intl-container.iti.elementor-error .iti__country-container {
	bottom: 23px;
}

